<ion-header>
  <ion-navbar (click)="changeServerAddress()">
    <ion-title style="text-align: center;">
      <ion-icon name="home"></ion-icon>
      Automação Residencial
    </ion-title>
    <ion-buttons end>
       <ion-icon  name="settings"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-title>
      Luzes
    </ion-title>
    <ion-item>
      <ion-label>
        <ion-icon name="bulb" [color]="light1Toggle ? 'secondary' : 'danger'"></ion-icon> Quarto
      </ion-label>
      <ion-toggle [(ngModel)]="light1Toggle" (ionChange)="turnLight(1)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="bulb" [color]="light2Toggle ? 'secondary' : 'danger'"></ion-icon> Cozinha
      </ion-label>
      <ion-toggle [(ngModel)]="light2Toggle" (ionChange)="turnLight(2)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="bulb" [color]="light3Toggle ? 'secondary' : 'danger'"></ion-icon> Sala
      </ion-label>
      <ion-toggle [(ngModel)]="light3Toggle" (ionChange)="turnLight(3)"></ion-toggle>
    </ion-item>

  </ion-list>


  <ion-list>
    <ion-title>
      Portas
    </ion-title>
    <ion-item>
      <ion-label>
        <ion-icon name="lock" [color]="door1Toggle ? 'secondary' : 'danger'"></ion-icon> Porta Principal
      </ion-label>
      <ion-toggle [(ngModel)]="door1Toggle" (ionChange)="confirmDoorPassword(1)"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-title>
      Sensores
    </ion-title>
    <ion-item>
      <h2>Temperatura: {{currentTemp}} ºC </h2>
      <h2>Umidade: {{currentHumidity}} % </h2>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-title>
      Alertas
    </ion-title>

    <ion-item *ngIf="alerts.length == 0">
      Não há nenhum alerta no momento
    </ion-item>
    <ion-item *ngFor="let alert of alerts">
      {{alert}} 
      <ion-icon (click)="deleteAlert(alert)" name="trash" item-end color="danger"></ion-icon>
    </ion-item>
  </ion-list>


  <button ion-button full (click)="initializeInfos()" >Atualizar</button>

</ion-content>